" Set the background to dark
" set background=dark

" Uncomment the lines below if you would like to
" use the solarized colorscheme.
"
" Please remember to configure set background=dark|light
" accordingly to get the appropriate solarized colorscheme
"
"let g:solarized_termcolors=256
"colorscheme solarized

" vim-airline configuration
let g:airline#extensions#tabline#enabled = 1

" Enable vim-airline powerline fonts
" Please follow the instructions below before enabling:
" https://github.com/bling/vim-airline#integrating-with-powerline-fonts
" let g:airline_powerline_fonts = 1

" Enable SCSS highlighting on *.css files
"au BufRead,BufNewFile *.scss set filetype=scss.css

